<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>
                    熟練のエンジニア・デザイナーさん
                    <br>
                    この未熟なサイトを良くしていきませんか？
                    <br>
                    <br>
                    プロジェクトを始めたいけどプログラムができない方
                    <br>
                    微力ながら、お手伝いいたします。
                    <br>
                    <br>
                    連絡ください！
                </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:s14343kk@sfc.keio.ac.jp">s14343kk@sfc.keio.ac.jp</a></p>
            </div>
        </div>
    </div>
</section>

