<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <br>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">アイデアマンは・・・</h2>
                <hr class="light">
                <p class="text-faded">
                あなたのアイデアを投稿しよう！
                <br>
                そして、ここにいるエンジニアを探して連絡をとろう！
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">エンジニアは・・・</h2>
                <hr class="light">
                <p class="text-faded">
                ここにはアイデアが投稿されています
                <br>
                面白いアイデアがあったら、ジョインしよう！
                </p>
            </div>
        </div>
        <div class="text-center">
            <a href="users/sign_up" class="btn btn-default btn-xl">登録する</a>
        </div>
    </div>
</section>